<h1>New Figure</h1>

<form action="/songs" method="post">
  <label>Name:</label>
  <br><br>
  <input type="text" name="figure[name]" value="">
  <br><br>
  <%Figure.all.each do |figure|%>
  <ul><input type="checkbox" name="titles[]" value="<%=figure.id%>" id="<%=figure.id%>"><%=figure.name%></input></ul>
  <%end%>
  <br><br>
  <label>Create New Title:</label>
  <br><br>
  <input type="text" name="title_name" value="">
  <br><br>
  <%Landmark.all.each do |landmark|%>
  <ul><input type="checkbox" name="landmarks[]" value="<%=landmark.id%>" id="<%=landmark.id%>"><%=landmark.name%></input></ul>
  <%end%>
  <input type="submit" value="Create Figure">
</form>
