<h1>New Figure</h1>

<form action="/songs" method="post">
  <label>Name:</label>
  <br><br>
  <input type="text" name="figure[name]" id="figure_name">
  <br><br>
  <%Figure.all.each do |figure|%>
  <ul><input type="checkbox" name="figure[title_ids][]" value="<%=figure.id%>" id="<%=figure.id%>"><%=figure.name%></input></ul>
  <%end%>
  <br><br>
  <label>Create New Title:</label>
  <br><br>
  <input type="text" name="title[name]" value="">
  <br><br>
  <%Landmark.all.each do |landmark|%>
  <ul><input type="checkbox" name="figure[landmark_ids][]" value="<%=landmark.id%>" id="<%=landmark.id%>"><%=landmark.name%></input></ul>
  <%end%>
  <br><br>
  <label>Create New Landmark:</label>
  <br><br>
  <input type="text" name="landmark[name]" value="">
  <br><br>
  <input type="submit" value="Create Figure">
</form>
